## Introduction to Pandas
**In this introduction, we'll use Pandas to analyze data on video game reviews from IGN, a popular video game review site.**

In [3]:
#Import Pandas and Read Data 
import pandas as pd
reviews = pd.read_csv("ign.csv")

In [31]:
reviews.head(100)

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11
6,6,Awful,Double Dragon: Neon,/games/double-dragon-neon/xbox-360-131320,Xbox 360,3.0,Fighting,N,2012,9,11
7,7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
8,8,Awful,Double Dragon: Neon,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11
9,9,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N,2012,9,11
10,10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
12,12,Good,Wild Blood,/games/wild-blood/iphone-139363,iPhone,7.0,NaN,N,2012,9,10
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7
15,15,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/mac-2001...,Macintosh,6.5,Adventure,N,2012,9,6
16,16,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/pc-137135,PC,6.5,Adventure,N,2012,9,6
17,17,Great,Avengers Initiative,/games/avengers-initiative/iphone-141579,iPhone,8.0,Action,N,2012,9,5
18,18,Mediocre,Way of the Samurai 4,/games/way-of-the-samurai-4/ps3-23516,PlayStation 3,5.5,"Action, Adventure",N,2012,9,3
19,19,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/xbox-360-137717,Xbox 360,7.0,Fighting,N,2012,9,3
20,20,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/ps3-137896,PlayStation 3,7.0,Fighting,N,2012,9,3
21,21,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/xbox-360-138918,Xbox 360,7.5,RPG,N,2012,8,31
22,22,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/ps3-138915,PlayStation 3,7.5,RPG,N,2012,8,31
23,23,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/pc-138919,PC,7.5,RPG,N,2012,8,31
24,24,Amazing,Dark Souls (Prepare to Die Edition),/games/dark-souls-prepare-to-die-edition/pc-13...,PC,9.0,"Action, RPG",Y,2012,8,31
25,25,Good,Symphony,/games/symphony/pc-136470,PC,7.0,Shooter,N,2012,8,30
26,26,Amazing,Bastion,/games/bastion/ipad-140874,iPad,9.0,"Action, RPG",Y,2012,8,30
27,27,Good,Tom Clancy's Ghost Recon Phantoms,/games/tom-clancys-ghost-recon-online/pc-109114,PC,7.5,Shooter,N,2012,8,29
28,28,Great,Thirty Flights of Loving,/games/thirty-flights-of-loving/pc-138374,PC,8.0,Adventure,N,2012,8,29
29,29,Okay,Legasista,/games/legasista/ps3-127147,PlayStation 3,6.5,"Action, RPG",N,2012,8,28
...,...,...,...,...,...,...,...,...,...,...,...
70,70,Okay,Edna & Harvey: Harvey's New Eyes,/games/edna-harvey-harveys-new-eyes/pc-145776,PC,6.0,Adventure,N,2012,10,26
71,71,Bad,Medal of Honor Warfighter,/games/medal-of-honor-warfighter/ps3-101085,PlayStation 3,4.0,Shooter,N,2012,10,26
72,72,Bad,Medal of Honor Warfighter,/games/medal-of-honor-warfighter/xbox-360-101086,Xbox 360,4.0,Shooter,N,2012,10,26
73,73,Great,Transformers: Fall of Cybertron,/games/transformers-fall-of-cybertron/xbox-360...,Xbox 360,8.5,Shooter,N,2012,8,21
74,74,Great,Transformers: Fall of Cybertron,/games/transformers-fall-of-cybertron/ps3-92425,PlayStation 3,8.5,Shooter,N,2012,8,21
75,75,Amazing,Hero Academy,/games/hero-academy-136971/pc-122908,PC,9.0,Board,Y,2012,8,20
76,76,Amazing,Hero Academy,/games/hero-academy-136971/iphone-122803,iPhone,9.0,Strategy,Y,2012,8,20
77,77,Amazing,Puzzle Craft,/games/puzzlecraft/iphone-134348,iPhone,9.0,Puzzle,Y,2012,8,17
78,78,Mediocre,Realms Of Ancient War,/games/realms-of-ancient-war/xbox-360-111182,Xbox 360,5.5,Action,N,2012,9,24
79,79,Mediocre,Realms Of Ancient War,/games/realms-of-ancient-war/ps3-111181,PlayStation 3,5.5,Action,N,2012,9,24
80,80,Great,Anomaly: Warzone Earth,/games/anomaly-warzone-earth/ps3-138479,PlayStation 3,8.2,Action,N,2012,9,23
81,81,Good,Darksiders II,/games/darksiders-2/pc-91963,PC,7.5,Action,N,2012,8,17
82,82,Good,Left 4 Dead 2: Cold Stream,/games/left-4-dead-2-cold-stream/mac-140189,Macintosh,7.0,Shooter,N,2012,8,17
83,83,Good,Left 4 Dead 2: Cold Stream,/games/left-4-dead-2-cold-stream/pc-140187,PC,7.0,Shooter,N,2012,8,17
84,84,Amazing,Puzzle Craft,/games/puzzlecraft/android-134352,Android,9.0,Puzzle,Y,2012,8,17
85,85,Good,Left 4 Dead 2: Cold Stream,/games/left-4-dead-2-cold-stream/xbox-360-140188,Xbox 360,7.0,Shooter,N,2012,8,17
86,86,Amazing,Horn,/games/horn/iphone-136814,iPhone,9.0,"Action, Adventure",Y,2012,8,16
87,87,Amazing,Forza Horizon,/games/forza-horizon/xbox-360-129564,Xbox 360,9.0,Racing,Y,2012,10,12
88,88,Bad,FIFA Soccer 13,/games/fifa-2013/vita-115689,PlayStation Vita,4.0,Sports,N,2012,10,12
89,89,Awful,Mugen Souls,/games/mugen-souls/ps3-120256,PlayStation 3,3.9,"Strategy, RPG",N,2012,10,12
90,90,Good,Crazy Taxi,/games/crazy-taxi/iphone-144755,iPhone,7.1,"Racing, Action",N,2012,10,11
91,91,Mediocre,New Little King's Story,/games/new-kings-story/vita-116369,PlayStation Vita,5.8,RPG,N,2012,10,11
92,92,Good,Fable: The Journey,/games/fable-the-journey/xbox-360-27948,Xbox 360,7.2,"Action, RPG",N,2012,10,9
93,93,Great,The Lord of the Rings Online: Riders of Rohan,/games/the-lord-of-the-rings-online-riders-of-...,PC,8.3,RPG,N,2012,10,26
94,94,Good,Doom 3: BFG Edition,/games/doom-3/xbox-360-135333,Xbox 360,7.6,RPG,N,2012,10,25
95,95,Okay,Rugby League Live 2,/games/rugby-league-live-2/xbox-360-136983,Xbox 360,6.0,Sports,N,2012,10,25
96,96,Okay,Rugby League Live 2,/games/rugby-league-live-2/ps3-136984,PlayStation 3,6.0,Sports,N,2012,10,25
97,97,Good,Doom 3: BFG Edition,/games/doom-3/ps3-135329,PlayStation 3,7.6,RPG,N,2012,10,25
98,98,Amazing,Punch Quest,/games/punch-quest/iphone-136667,iPhone,9.3,Action,Y,2012,10,25
99,99,Okay,He-Man: The Most Powerful Game in the Universe,/games/he-man-the-most-powerful-game-in-the-un...,iPhone,6.8,Action,N,2012,10,25

In [4]:
# Using Row, Column Name Specifiers (LOC)
reviews.loc[2,'url']

'/games/splice/ipad-141070'

In [6]:
# Using ILOC
reviews.iloc[1,1]

'Amazing'

In [9]:
#Creating Sub Data Frames
sub_reviews=reviews[['score_phrase','score']]
sub_reviews.head()

  score_phrase  score
0      Amazing    9.0
1      Amazing    9.0
2        Great    8.5
3        Great    8.5
4        Great    8.5

### 2. Slicing Data Frames

In [12]:
# Observe Output Data type which is in Series
reviews['score_phrase']
type(reviews['score_phrase'])

pandas.core.series.Series

In [14]:
reviews['title'][1:4]

1    LittleBigPlanet PS Vita -- Marvel Super Hero E...
2                                 Splice: Tree of Life
3                                               NHL 13
Name: title, dtype: object

In [15]:
reviews['title'][4]

'NHL 13'

In [18]:
#Slicing with labels
reviews.loc[:,'url':'genre'].head()

,url,platform,score,genre
0,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer
1,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer
2,/games/splice/ipad-141070,iPad,8.5,Puzzle
3,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports
4,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports

In [19]:
#Using Lists rather than slices
reviews.iloc[[0,2,5,9],0:8]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N
5,5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N
9,9,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N

In [21]:
#Series versus One column Dataframe
print(type(reviews['title']))
print(type(reviews[['title']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

### 3. Filtering Data Frames

In [28]:
#Creating a Boolean series
(reviews.score>8.0).head(10)

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7     True
8    False
9    False
Name: score, dtype: bool

In [29]:
#Making Use of boolean Array 
high_score=reviews.score>8.0
reviews[high_score].head(10)

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Amazing,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Amazing,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Amazing,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
7,7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7
24,24,Amazing,Dark Souls (Prepare to Die Edition),/games/dark-souls-prepare-to-die-edition/pc-13...,PC,9.0,"Action, RPG",Y,2012,8,31
26,26,Amazing,Bastion,/games/bastion/ipad-140874,iPad,9.0,"Action, RPG",Y,2012,8,30

In [34]:
#Combining Filters 
#Filtering Average Games 
reviews[(reviews.score>5.0)&(reviews.score<7.0)].head(5)

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
15,15,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/mac-2001...,Macintosh,6.5,Adventure,N,2012,9,6
16,16,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/pc-137135,PC,6.5,Adventure,N,2012,9,6
18,18,Mediocre,Way of the Samurai 4,/games/way-of-the-samurai-4/ps3-23516,PlayStation 3,5.5,"Action, Adventure",N,2012,9,3
29,29,Okay,Legasista,/games/legasista/ps3-127147,PlayStation 3,6.5,"Action, RPG",N,2012,8,28
36,36,Okay,Drakerider,/games/drakerider/iphone-135745,iPhone,6.5,RPG,N,2012,10,3

In [42]:
#dataFrames with Zeroes and NaN 
cpyReviews=reviews.copy()
#Select Column with all non zero values 
cpyReviews.loc[:,cpyReviews.any()]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11
6,6,Awful,Double Dragon: Neon,/games/double-dragon-neon/xbox-360-131320,Xbox 360,3.0,Fighting,N,2012,9,11
7,7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
8,8,Awful,Double Dragon: Neon,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11
9,9,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N,2012,9,11
10,10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
12,12,Good,Wild Blood,/games/wild-blood/iphone-139363,iPhone,7.0,NaN,N,2012,9,10
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7
15,15,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/mac-2001...,Macintosh,6.5,Adventure,N,2012,9,6
16,16,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/pc-137135,PC,6.5,Adventure,N,2012,9,6
17,17,Great,Avengers Initiative,/games/avengers-initiative/iphone-141579,iPhone,8.0,Action,N,2012,9,5
18,18,Mediocre,Way of the Samurai 4,/games/way-of-the-samurai-4/ps3-23516,PlayStation 3,5.5,"Action, Adventure",N,2012,9,3
19,19,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/xbox-360-137717,Xbox 360,7.0,Fighting,N,2012,9,3
20,20,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/ps3-137896,PlayStation 3,7.0,Fighting,N,2012,9,3
21,21,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/xbox-360-138918,Xbox 360,7.5,RPG,N,2012,8,31
22,22,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/ps3-138915,PlayStation 3,7.5,RPG,N,2012,8,31
23,23,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/pc-138919,PC,7.5,RPG,N,2012,8,31
24,24,Amazing,Dark Souls (Prepare to Die Edition),/games/dark-souls-prepare-to-die-edition/pc-13...,PC,9.0,"Action, RPG",Y,2012,8,31
25,25,Good,Symphony,/games/symphony/pc-136470,PC,7.0,Shooter,N,2012,8,30
26,26,Amazing,Bastion,/games/bastion/ipad-140874,iPad,9.0,"Action, RPG",Y,2012,8,30
27,27,Good,Tom Clancy's Ghost Recon Phantoms,/games/tom-clancys-ghost-recon-online/pc-109114,PC,7.5,Shooter,N,2012,8,29
28,28,Great,Thirty Flights of Loving,/games/thirty-flights-of-loving/pc-138374,PC,8.0,Adventure,N,2012,8,29
29,29,Okay,Legasista,/games/legasista/ps3-127147,PlayStation 3,6.5,"Action, RPG",N,2012,8,28
...,...,...,...,...,...,...,...,...,...,...,...
18595,18595,Bad,Ghostbusters,/games/ghostbusters-the-movie/pc-20052317,PC,4.4,Action,N,2016,7,16
18596,18596,Okay,Necropolis,/games/necropolis/pc-20030346,PC,6.5,"Action, Adventure",N,2016,7,14
18597,18597,Bad,7 Days to Die,/games/7-days-to-die/xbox-one-20051934,Xbox One,4.9,"Shooter, Adventure",N,2016,7,13
18598,18598,Okay,Furi,/games/furi/pc-20044439,PC,6.8,Action,N,2016,7,13
18599,18599,Good,Pokemon Go,/games/pokemon-go/android-20042698,Android,7.0,Battle,N,2016,7,13
18600,18600,Good,Hitman: Episode 4,/games/hitman-episode-4/pc-20051637,PC,7.4,Shooter,N,2016,8,19
18601,18601,Good,Hitman: Episode 4,/games/hitman-episode-4/ps4-20051638,PlayStation 4,7.4,Shooter,N,2016,8,19
18602,18602,Good,Hitman: Episode 4,/games/hitman-episode-4/xbox-one-20051639,Xbox One,7.4,Shooter,N,2016,8,19
18603,18603,Good,Grow Up,/games/grow-up/pc-20054824,PC,7.8,Platformer,N,2016,8,18
18604,18604,Great,Madden NFL 17,/games/madden-nfl-2017/ps4-20052738,PlayStation 4,8.6,Sports,N,2016,8,17
18605,18605,Okay,No Man's Sky,/games/no-mans-sky/ps4-20009696,PlayStation 4,6.0,Adventure,N,2016,8,16
18606,18606,Okay,Starcraft II: Nova Covert Ops -- Mission Pack 2,/games/starcraft-ii-nova-covert-ops-mission-pa...,PC,6.4,Strategy,N,2016,8,4
18607,18607,Good,Pokemon Go,/games/pokemon-go/iphone-20042699,iPhone,7.0,Battle,N,2016,7,13
18608,18608,Mediocre,Carmageddon: Max Damage,/games/carmageddon-max-damage/ps4-110143,PlayStation 4,5.4,"Racing, Action",N,2016,7,13
18609,18609,Great,Monster Hunter Generations,/games/monster-hunter-generations/3ds-20037986,Nintendo 3DS,8.0,Action,N,2016,7,12
18610,18610,Okay,Song of the Deep,/games/song-of-the-deep/ps4-20048663,PlayStation 4,6.0,Adventure,N,2016,7,12
18611,18611,Mediocre,Tom Clancy's The Division -- Underground,/games/tom-clancys-the-division-underground/xb...,Xbox One,5.8,Shooter,N,2016,7,6
18612,18612,Good,BoxBoxBoy!,/games/boxboxboy/3ds-20055707,Nintendo 3DS,7.8,Puzzle,N,2016,7,6
18613,18613,Great,XCOM 2: Shen's Last Gift,/games/xcom-2-shens-last-gift/pc-20055520,PC,8.0,Strategy,N,2016,7,1
18614,18614,Amazing,Zero Time Dilemma,/games/zero-time-dilemma/3ds-163737,Nintendo 3DS,9.2,Adventure,Y,2016,6,29
18615,18615,Amazing,Zero Time Dilemma,/games/zero-time-dilemma/vita-20039757,PlayStation Vita,9.2,Adventure,Y,2016,6,29
18616,18616,Good,Batman: The Telltale Series -- Episode 1: Real...,/games/batman-the-telltale-series-episode-1-re...,PC,7.5,Adventure,N,2016,8,2
18617,18617,Great,Abzu,/games/abzu/ps4-20019841,PlayStation 4,8.4,Adventure,N,2016,8,2
18618,18618,Amazing,Starbound,/games/starbound-2016/pc-128879,PC,9.1,Action,Y,2016,7,28
18619,18619,Good,Human Fall Flat,/games/human-fall-flat/pc-20051928,PC,7.9,"Puzzle, Action",N,2016,7,28
18620,18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

In [44]:
#Check any Column with Null Value
cpyReviews.loc[:,cpyReviews.isnull().any()].head()

        genre
0  Platformer
1  Platformer
2      Puzzle
3      Sports
4      Sports

In [45]:
#Drop Rows with Null Values
cpyReviews.dropna(how='any')

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11
6,6,Awful,Double Dragon: Neon,/games/double-dragon-neon/xbox-360-131320,Xbox 360,3.0,Fighting,N,2012,9,11
7,7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
8,8,Awful,Double Dragon: Neon,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11
9,9,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N,2012,9,11
10,10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7
15,15,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/mac-2001...,Macintosh,6.5,Adventure,N,2012,9,6
16,16,Okay,Home: A Unique Horror Adventure,/games/home-a-unique-horror-adventure/pc-137135,PC,6.5,Adventure,N,2012,9,6
17,17,Great,Avengers Initiative,/games/avengers-initiative/iphone-141579,iPhone,8.0,Action,N,2012,9,5
18,18,Mediocre,Way of the Samurai 4,/games/way-of-the-samurai-4/ps3-23516,PlayStation 3,5.5,"Action, Adventure",N,2012,9,3
19,19,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/xbox-360-137717,Xbox 360,7.0,Fighting,N,2012,9,3
20,20,Good,JoJo's Bizarre Adventure HD,/games/jojos-bizarre-adventure/ps3-137896,PlayStation 3,7.0,Fighting,N,2012,9,3
21,21,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/xbox-360-138918,Xbox 360,7.5,RPG,N,2012,8,31
22,22,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/ps3-138915,PlayStation 3,7.5,RPG,N,2012,8,31
23,23,Good,Mass Effect 3: Leviathan,/games/mass-effect-3-leviathan/pc-138919,PC,7.5,RPG,N,2012,8,31
24,24,Amazing,Dark Souls (Prepare to Die Edition),/games/dark-souls-prepare-to-die-edition/pc-13...,PC,9.0,"Action, RPG",Y,2012,8,31
25,25,Good,Symphony,/games/symphony/pc-136470,PC,7.0,Shooter,N,2012,8,30
26,26,Amazing,Bastion,/games/bastion/ipad-140874,iPad,9.0,"Action, RPG",Y,2012,8,30
27,27,Good,Tom Clancy's Ghost Recon Phantoms,/games/tom-clancys-ghost-recon-online/pc-109114,PC,7.5,Shooter,N,2012,8,29
28,28,Great,Thirty Flights of Loving,/games/thirty-flights-of-loving/pc-138374,PC,8.0,Adventure,N,2012,8,29
29,29,Okay,Legasista,/games/legasista/ps3-127147,PlayStation 3,6.5,"Action, RPG",N,2012,8,28
30,30,Amazing,The Walking Dead: The Game -- Episode 3: Long ...,/games/the-walking-dead-season-1-episode-3/mac...,Macintosh,9.0,Adventure,Y,2012,8,28
...,...,...,...,...,...,...,...,...,...,...,...
18595,18595,Bad,Ghostbusters,/games/ghostbusters-the-movie/pc-20052317,PC,4.4,Action,N,2016,7,16
18596,18596,Okay,Necropolis,/games/necropolis/pc-20030346,PC,6.5,"Action, Adventure",N,2016,7,14
18597,18597,Bad,7 Days to Die,/games/7-days-to-die/xbox-one-20051934,Xbox One,4.9,"Shooter, Adventure",N,2016,7,13
18598,18598,Okay,Furi,/games/furi/pc-20044439,PC,6.8,Action,N,2016,7,13
18599,18599,Good,Pokemon Go,/games/pokemon-go/android-20042698,Android,7.0,Battle,N,2016,7,13
18600,18600,Good,Hitman: Episode 4,/games/hitman-episode-4/pc-20051637,PC,7.4,Shooter,N,2016,8,19
18601,18601,Good,Hitman: Episode 4,/games/hitman-episode-4/ps4-20051638,PlayStation 4,7.4,Shooter,N,2016,8,19
18602,18602,Good,Hitman: Episode 4,/games/hitman-episode-4/xbox-one-20051639,Xbox One,7.4,Shooter,N,2016,8,19
18603,18603,Good,Grow Up,/games/grow-up/pc-20054824,PC,7.8,Platformer,N,2016,8,18
18604,18604,Great,Madden NFL 17,/games/madden-nfl-2017/ps4-20052738,PlayStation 4,8.6,Sports,N,2016,8,17
18605,18605,Okay,No Man's Sky,/games/no-mans-sky/ps4-20009696,PlayStation 4,6.0,Adventure,N,2016,8,16
18606,18606,Okay,Starcraft II: Nova Covert Ops -- Mission Pack 2,/games/starcraft-ii-nova-covert-ops-mission-pa...,PC,6.4,Strategy,N,2016,8,4
18607,18607,Good,Pokemon Go,/games/pokemon-go/iphone-20042699,iPhone,7.0,Battle,N,2016,7,13
18608,18608,Mediocre,Carmageddon: Max Damage,/games/carmageddon-max-damage/ps4-110143,PlayStation 4,5.4,"Racing, Action",N,2016,7,13
18609,18609,Great,Monster Hunter Generations,/games/monster-hunter-generations/3ds-20037986,Nintendo 3DS,8.0,Action,N,2016,7,12
18610,18610,Okay,Song of the Deep,/games/song-of-the-deep/ps4-20048663,PlayStation 4,6.0,Adventure,N,2016,7,12
18611,18611,Mediocre,Tom Clancy's The Division -- Underground,/games/tom-clancys-the-division-underground/xb...,Xbox One,5.8,Shooter,N,2016,7,6
18612,18612,Good,BoxBoxBoy!,/games/boxboxboy/3ds-20055707,Nintendo 3DS,7.8,Puzzle,N,2016,7,6
18613,18613,Great,XCOM 2: Shen's Last Gift,/games/xcom-2-shens-last-gift/pc-20055520,PC,8.0,Strategy,N,2016,7,1
18614,18614,Amazing,Zero Time Dilemma,/games/zero-time-dilemma/3ds-163737,Nintendo 3DS,9.2,Adventure,Y,2016,6,29
18615,18615,Amazing,Zero Time Dilemma,/games/zero-time-dilemma/vita-20039757,PlayStation Vita,9.2,Adventure,Y,2016,6,29
18616,18616,Good,Batman: The Telltale Series -- Episode 1: Real...,/games/batman-the-telltale-series-episode-1-re...,PC,7.5,Adventure,N,2016,8,2
18617,18617,Great,Abzu,/games/abzu/ps4-20019841,PlayStation 4,8.4,Adventure,N,2016,8,2
18618,18618,Amazing,Starbound,/games/starbound-2016/pc-128879,PC,9.1,Action,Y,2016,7,28
18619,18619,Good,Human Fall Flat,/games/human-fall-flat/pc-20051928,PC,7.9,"Puzzle, Action",N,2016,7,28
18620,18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

In [48]:
#Filtering Column based on Another
cpyReviews.score_phrase[cpyReviews.score>7.5].head()

0    Amazing
1    Amazing
2      Great
3      Great
4      Great
Name: score_phrase, dtype: object

In [49]:
#Modifying a column based on another
cpyReviews.score_phrase[cpyReviews.score>7.5]='Amazing'

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#Modified Values
cpyReviews.score_phrase[cpyReviews.score>7.5].head()

### 4. Transforming DataFrames

In [53]:
#Import New Data File
sales=pd.read_csv('Sales.csv',index_col='Month')

In [54]:
sales.head()

       Veggies  Fruits  Salt
Month
Jan         88      40    75
Feb         84      91    97
Mar         33      35    48
Apr         78      29    85
May         90       9    91

In [56]:
sales.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object', name='Month')

In [57]:
#Create a new Copy of the data frame
salescpy=sales.copy()

In [58]:
#Floor Div Operation in Panda or floor_divide in Numpy
salescpy['Veggies_dozens']=salescpy.Veggies.floordiv(12)

In [59]:
salescpy.head(12)

       Veggies  Fruits  Salt  Veggies_dozens
Month
Jan         88      40    75               7
Feb         84      91    97               7
Mar         33      35    48               2
Apr         78      29    85               6
May         90       9    91               7
Jun         31      98    62               2
Jul         25      83     2               2
Aug         47      41     9               3
Sep          0      69    30               0
Oct         96      12     8               8
Nov         34       6    99               2
Dec         26      32    28               2

In [60]:
##String Tranformation Operatons
sales.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object', name='Month')

In [66]:
#Convert Lower Case into Upper Case
salescpy.index=salescpy.index.str.upper()
salescpy.head()

       Veggies  Fruits  Salt  Veggies_dozens
Month
JAN         88      40    75               7
FEB         84      91    97               7
MAR         33      35    48               2
APR         78      29    85               6
MAY         90       9    91               7

In [65]:
salescpy.head()

       Veggies  Fruits  Salt  Veggies_dozens
Month
Jan         88      40    75               7
Feb         84      91    97               7
Mar         33      35    48               2
Apr         78      29    85               6
May         90       9    91               7

## Advanced Indexing

**Key Building Blocks Of Python**
    - Indexes : Sequence of Labels
    - Series: 1D Array with Index
    - DataFrames : 2D arrays with series as columns 
 - DataFrames are immutable like Dictionary  Keys 
 - Homogenous in Datya type

### Creating a Series

In [70]:
prices = [10.70,12.3,45,21.7,77.98,54.21,43.89]
shares=pd.Series(prices)
print(shares)

0    10.70
1    12.30
2    45.00
3    21.70
4    77.98
5    54.21
6    43.89
dtype: float64

In [72]:
#Creating an index 
days=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
shares=pd.Series(prices,index=days)
print(shares)

Mon    10.70
Tue    12.30
Wed    45.00
Thu    21.70
Fri    77.98
Sat    54.21
Sun    43.89
dtype: float64

In [80]:
#Determine type of Index 
print((shares.index))

#Slice an Index
print(shares.index[2])

#Assign Name Atrtribute
shares.index.name='Weekdays'
print(shares.index.name)

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object', name='Weekdays')
Wed
Weekdays

In [81]:
#Index Entries are immutable
shares.index[2]='Wednesday'

TypeError: Index does not support mutable operations

In [89]:
#Sorting Index
stock=pd.read_csv('fundamentals.csv')

In [90]:
stock.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [91]:
#Use Tuple to Define an Index
stock=stock.set_index(['Ticker Symbol','Period Ending'])

In [92]:
print(stock)

                             Unnamed: 0  Accounts Payable  \
Ticker Symbol Period Ending
AAL           2012-12-31              0      3.068000e+09
              2013-12-31              1      4.975000e+09
              2014-12-31              2      4.668000e+09
              2015-12-31              3      5.102000e+09
AAP           2012-12-29              4      2.409453e+09
              2013-12-28              5      2.609239e+09
              2015-01-03              6      3.616038e+09
              2016-01-02              7      3.757085e+09
AAPL          2013-09-28              8      3.622300e+10
              2014-09-27              9      4.864900e+10
              2015-09-26             10      6.067100e+10
              2016-09-24             11      5.932100e+10
ABBV          2012-12-31             12      5.734000e+09
              2013-12-31             13      6.448000e+09
              2014-12-31             14      6.954000e+09
              2015-12-31             15      8.463000e+09
ABC           2013-09-30             16      1.487064e+10
              2014-09-30             17      1.725016e+10
              2015-09-30             18      2.157823e+10
              2016-09-30             19      2.467016e+10
ABT           2012-12-31             20      1.088900e+10
              2013-12-31             21      5.948000e+09
              2014-12-31             22      5.350000e+09
              2015-12-31             23      5.683000e+09
ADBE          2013-11-29             24      7.292570e+08
              2014-11-28             25      7.761630e+08
              2015-11-27             26      7.793560e+08
              2016-12-02             27      8.660160e+08
ADI           2013-11-02             28      3.230840e+08
              2014-11-01             29      4.306210e+08
...                                 ...               ...
XRAY          2014-12-31           1751      5.408000e+08
              2015-12-31           1752      4.639000e+08
XRX           2012-12-31           1753      2.654000e+09
              2013-12-31           1754      2.360000e+09
              2014-12-31           1755      2.338000e+09
              2015-12-31           1756      2.265000e+09
XYL           2012-12-31           1757      7.750000e+08
              2013-12-31           1758      8.110000e+08
              2014-12-31           1759      8.140000e+08
              2015-12-31           1760      7.450000e+08
YHOO          2012-12-31           1761      9.933060e+08
              2013-12-31           1762      1.045813e+09
              2014-12-31           1763      4.178020e+09
              2015-12-31           1764      1.143349e+09
YUM           2012-12-29           1765      2.269000e+09
              2013-12-28           1766      2.194000e+09
              2014-12-27           1767      2.142000e+09
              2015-12-26           1768      2.165000e+09
ZBH           2012-12-31           1769      2.069000e+08
              2013-12-31           1770      3.675000e+08
              2014-12-31           1771      2.255000e+08
              2015-12-31           1772      4.320000e+08
ZION          2012-12-31           1773      0.000000e+00
              2013-12-31           1774      0.000000e+00
              2014-12-31           1775      0.000000e+00
              2015-12-31           1776      0.000000e+00
ZTS           2013-12-31           1777      1.381000e+09
              2014-12-31           1778      1.071000e+09
              2015-12-31           1779      1.313000e+09
              2016-12-31           1780      1.076000e+09

                             Accounts Receivable  Add'l income/expense items  \
Ticker Symbol Period Ending
AAL           2012-12-31           -2.220000e+08               -1.961000e+09
              2013-12-31           -9.300000e+07               -2.723000e+09
              2014-12-31           -1.600000e+08               -1.500000e+08
              2015-12-31            3.520000e+08               -7.080000e+08
AAP           2012-12-29           -8.948200e+07                6.000000e+05
              2013-12-28           -3.242800e+07                2.698000e+06
              2015-01-03           -4.820900e+07                3.092000e+06
              2016-01-02           -2.147600e+07               -7.484000e+06
AAPL          2013-09-28           -1.949000e+09                1.156000e+09
              2014-09-27           -6.452000e+09                9.800000e+08
              2015-09-26           -3.124000e+09                1.285000e+09
              2016-09-24            1.044000e+09                1.348000e+09
ABBV          2012-12-31            2.230000e+08               -8.000000e+06
              2013-12-31            6.810000e+08               -5.400000e+07
              2014-12-31           -1.720000e+08               -6.510000e+08
              2015-12-31           -1.076000e+09               -2.060000e+08
ABC           2013-09-30           -2.312518e+09               -4.400000e+04
              2014-09-30           -9.382860e+08               -2.859400e+07
              2015-09-30           -1.478793e+09               -4.422000e+07
              2016-09-30           -9.127240e+08                5.048000e+06
ABT           2012-12-31            3.600000e+07               -1.260000e+09
              2013-12-31           -1.130000e+08                5.300000e+07
              2014-12-31           -1.950000e+08                6.900000e+07
              2015-12-31           -1.710000e+08                4.790000e+08
ADBE          2013-11-29            3.364900e+07                9.260000e+05
              2014-11-28            7.928000e+06                8.423000e+06
              2015-11-27           -7.950200e+07                3.487000e+07
              2016-12-02           -1.604160e+08                1.197800e+07
ADI           2013-11-02            1.237700e+07                8.935000e+07
              2014-11-01           -3.646000e+07                1.164500e+07
...                                          ...                         ...
XRAY          2014-12-31            7.200000e+06                5.700000e+06
              2015-12-31           -9.000000e+05                1.040000e+07
XRX           2012-12-31            6.410000e+08                0.000000e+00
              2013-12-31            5.730000e+08                0.000000e+00
              2014-12-31            6.700000e+07                0.000000e+00
              2015-12-31            4.080000e+08                0.000000e+00
XYL           2012-12-31            2.000000e+06                0.000000e+00
              2013-12-31           -4.700000e+07               -1.000000e+07
              2014-12-31           -3.700000e+07                1.200000e+07
              2015-12-31           -2.400000e+07                9.000000e+06
YHOO          2012-12-31            3.475200e+07                4.647839e+09
              2013-12-31            2.619900e+07                1.233070e+08
              2014-12-31            2.927800e+07                1.046733e+10
              2015-12-31           -3.906500e+07               -6.468200e+07
YUM           2012-12-29           -1.800000e+07                0.000000e+00
              2013-12-28           -1.200000e+07                0.000000e+00
              2014-12-27           -2.100000e+07                0.000000e+00
              2015-12-26           -5.400000e+07                0.000000e+00
ZBH           2012-12-31           -4.550000e+07                1.560000e+07
              2013-12-31           -7.430000e+07                9.600000e+06
              2014-12-31           -4.040000e+07               -3.480000e+07
              2015-12-31           -5.610000e+07               -2.750000e+07
ZION          2012-12-31            0.000000e+00                0.000000e+00
              2013-12-31            0.000000e+00               -1.201920e+08
              2014-12-31            0.000000e+00               -4.442200e+07
              2015-12-31            0.000000e+00               -2.530000e+06
ZTS           2013-12-31           -9.900000e+07                9.000000e+06
              2014-12-31            6.900000e+07               -7.000000e+06
              2015-12-31           -5.800000e+07               -8.100000e+07
              2016-12-31            1.500000e+07                2.000000e+06

                             After Tax ROE  Capital Expenditures  \
Ticker Symbol Period Ending
AAL           2012-12-31              23.0         -1.888000e+09
              2013-12-31              67.0         -3.114000e+09
              2014-12-31             143.0         -5.311000e+09
              2015-12-31             135.0         -6.151000e+09
AAP           2012-12-29              32.0         -2.711820e+08
              2013-12-28              26.0         -1.957570e+08
              2015-01-03              25.0         -2.284460e+08
              2016-01-02              19.0         -2.347470e+08
AAPL          2013-09-28              30.0         -8.165000e+09
              2014-09-27              35.0         -9.571000e+09
              2015-09-26              45.0         -1.124700e+10
              2016-09-24              36.0         -1.273400e+10
ABBV          2012-12-31            1507.0         -3.330000e+08
              2013-12-31              92.0         -4.910000e+08
              2014-12-31             102.0         -6.120000e+08
              2015-12-31             130.0         -5.320000e+08
ABC           2013-09-30              19.0         -2.024500e+08
              2014-09-30              14.0         -2.644570e+08
              2015-09-30              22.0         -2.315850e+08
              2016-09-30              67.0         -4.646160e+08
ABT           2012-12-31              22.0         -1.795000e+09
              2013-12-31              10.0         -1.145000e+09
              2014-12-31              11.0         -1.077000e+09
              2015-12-31              21.0         -1.110000e+09
ADBE          2013-11-29               4.0         -1.883580e+08
              2014-11-28               4.0         -1.483320e+08
              2015-11-27               9.0         -1.849360e+08
              2016-12-02              16.0         -2.038050e+08
ADI           2013-11-02              14.0         -1.230740e+08
              2014-11-01              13.0         -1.779130e+08
...                                    ...                   ...
XRAY          2014-12-31              14.0         -9.960000e+07
              2015-12-31              11.0         -7.200000e+07
XRX           2012-12-31              10.0         -3.880000e+08
              2013-12-31               9.0         -3.460000e+08
              2014-12-31               9.0         -3.680000e+08
              2015-12-31               5.0         -2.510000e+08
XYL           2012-12-31              14.0         -1.120000e+08
              2013-12-31              10.0         -1.260000e+08
              2014-12-31              16.0         -1.190000e+08
              2015-12-31              16.0         -1.170000e+08
YHOO          2012-12-31              27.0         -5.055070e+08
              2013-12-31              10.0         -3.429710e+08
              2014-12-31              19.0         -4.130190e+08
              2015-12-31              15.0         -5.541630e+08
YUM           2012-12-29              74.0         -1.099000e+09
              2013-12-28              50.0         -1.049000e+09
              2014-12-27              68.0         -1.033000e+09
              2015-12-26             142.0         -9.730000e+08
ZBH           2012-12-31              13.0         -2.636000e+08
              2013-12-31              12.0         -2.929000e+08
              2014-12-31              11.0         -3.423000e+08
              2015-12-31               1.0         -4.341000e+08
ZION          2012-12-31               6.0         -6.889400e+07
              2013-12-31               4.0         -8.858000e+07
              2014-12-31               5.0         -1.757990e+08
              2015-12-31               4.0         -1.573610e+08
ZTS           2013-12-31              54.0         -1.840000e+08
              2014-12-31              44.0         -1.800000e+08
              2015-12-31              32.0         -2.240000e+08
              2016-12-31              55.0         -2.160000e+08

                             Capital Surplus  Cash Ratio  \
Ticker Symbol Period Ending
AAL           2012-12-31        4.695000e+09        53.0
              2013-12-31        1.059200e+10        75.0
              2014-12-31        1.513500e+10        60.0
              2015-12-31        1.159100e+10        51.0
AAP           2012-12-29        5.202150e+08        23.0
              2013-12-28        5.312930e+08        40.0
              2015-01-03        5.629450e+08         3.0
              2016-01-02        6.033320e+08         2.0
AAPL          2013-09-28        0.000000e+00        93.0
              2014-09-27        0.000000e+00        40.0
              2015-09-26        0.000000e+00        52.0
              2016-09-24        0.000000e+00        85.0
ABBV          2012-12-31        0.000000e+00       118.0
              2013-12-31        3.671000e+09       144.0
              2014-12-31        4.194000e+09        74.0
              2015-12-31        1.308000e+10        77.0
ABC           2013-09-30        2.360992e+09         8.0
              2014-09-30        2.749185e+09        10.0
              2015-09-30        3.736477e+09        10.0
              2016-09-30        4.333001e+09        11.0
ABT           2012-12-31        0.000000e+00       114.0
              2013-12-31        0.000000e+00        85.0
              2014-12-31        0.000000e+00        43.0
              2015-12-31        0.000000e+00        67.0
ADBE          2013-11-29        3.392696e+09       208.0
              2014-11-28        3.778495e+09       150.0
              2015-11-27        4.184883e+09       180.0
              2016-12-02        4.616331e+09       169.0
ADI           2013-11-02        7.118790e+08       821.0
              2014-11-01        6.430580e+08       404.0
...                                      ...         ...
XRAY          2014-12-31        2.217000e+08        23.0
              2015-12-31        2.378000e+08        60.0
XRX           2012-12-31        5.622000e+09        21.0
              2013-12-31        5.282000e+09        31.0
              2014-12-31        4.283000e+09        23.0
              2015-12-31        3.017000e+09        26.0
XYL           2012-12-31        1.706000e+09        65.0
              2013-12-31        1.753000e+09        62.0
              2014-12-31        1.796000e+09        73.0
              2015-12-31        1.834000e+09        83.0
YHOO          2012-12-31        9.563348e+09       324.0
              2013-12-31        8.688304e+09       254.0
              2014-12-31        8.499475e+09       177.0
              2015-12-31        8.807273e+09       459.0
YUM           2012-12-29        0.000000e+00        40.0
              2013-12-28        0.000000e+00        30.0
              2014-12-27        0.000000e+00        28.0
              2015-12-26        0.000000e+00        27.0
ZBH           2012-12-31        3.500600e+09       180.0
              2013-12-31        4.000600e+09       175.0
              2014-12-31        4.330700e+09       166.0
              2015-12-31        8.195300e+09       100.0
ZION          2012-12-31        0.000000e+00         NaN
              2013-12-31        0.000000e+00         NaN
              2014-12-31        0.000000e+00         NaN
              2015-12-31        0.000000e+00         NaN
ZTS           2013-12-31        8.780000e+08        43.0
              2014-12-31        9.580000e+08        81.0
              2015-12-31        1.012000e+09        65.0
              2016-12-31        1.024000e+09        65.0

                             Cash and Cash Equivalents  \
Ticker Symbol Period Ending
AAL           2012-12-31                  1.330000e+09
              2013-12-31                  2.175000e+09
              2014-12-31                  1.768000e+09
              2015-12-31                  1.085000e+09
AAP           2012-12-29                  5.981110e+08
              2013-12-28                  1.112471e+09
              2015-01-03                  1.046710e+08
              2016-01-02                  9.078200e+07
AAPL          2013-09-28                  1.425900e+10
              2014-09-27                  1.384400e+10
              2015-09-26                  2.112000e+10
              2016-09-24                  2.048400e+10
ABBV          2012-12-31                  5.901000e+09
              2013-12-31                  9.595000e+09
              2014-12-31                  8.348000e+09
              2015-12-31                  8.399000e+09
ABC           2013-09-30                  1.231006e+09
              2014-09-30                  1.808513e+09
              2015-09-30                  2.167442e+09
              2016-09-30                  2.741832e+09
ABT           2012-12-31                  1.080200e+10
              2013-12-31                  3.475000e+09
              2014-12-31                  4.063000e+09
              2015-12-31                  5.001000e+09
ADBE          2013-11-29                  8.345560e+08
              2014-11-28                  1.117400e+09
              2015-11-27                  8.765600e+08
              2016-12-02                  1.011315e+09
ADI           2013-11-02                  3.920890e+08
              2014-11-01                  5.692330e+08
...                                                ...
XRAY          2014-12-31                  1.516000e+08
              2015-12-31                  2.846000e+08
XRX           2012-12-31                  1.246000e+09
              2013-12-31                  1.764000e+09
              2014-12-31                  1.411000e+09
              2015-12-31                  1.368000e+09
XYL           2012-12-31                  5.040000e+08
              2013-12-31                  5.330000e+08
              2014-12-31                  6.630000e+08
              2015-12-31                  6.800000e+08
YHOO          2012-12-31                  2.667778e+09
              2013-12-31                  2.077590e+09
              2014-12-31                  2.664098e+09
              2015-12-31                  1.631911e+09
YUM           2012-12-29                  9.120000e+08
              2013-12-28                  6.690000e+08
              2014-12-27                  6.730000e+08
              2015-12-26                  8.400000e+08
ZBH           2012-12-31                  8.843000e+08
              2013-12-31                  1.080600e+09
              2014-12-31                  1.083300e+09
              2015-12-31                  1.459300e+09
ZION          2012-12-31                  1.447275e+10
              2013-12-31                  1.395780e+10
              2014-12-31                  1.396843e+10
              2015-12-31                  1.576313e+10
ZTS           2013-12-31                  6.100000e+08
              2014-12-31                  8.820000e+08
              2015-12-31                  1.154000e+09
              2016-12-31                  7.270000e+08

                             Changes in Inventories  \
Ticker Symbol Period Ending
AAL           2012-12-31               0.000000e+00
              2013-12-31               0.000000e+00
              2014-12-31               0.000000e+00
              2015-12-31               0.000000e+00
AAP           2012-12-29              -2.602980e+08
              2013-12-28              -2.035130e+08
              2015-01-03              -2.276570e+08

In [94]:
print(stock.index)
print(stock.index.names)

MultiIndex(levels=[['AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ADBE', 'ADI', 'ADM', 'ADS', 'ADSK', 'AEE', 'AEP', 'AFL', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALK', 'ALL', 'ALLE', 'ALXN', 'AMAT', 'AME', 'AMG', 'AMGN', 'AMP', 'AMT', 'AMZN', 'AN', 'ANTM', 'AON', 'APA', 'APC', 'APD', 'APH', 'ARNC', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AYI', 'AZO', 'BA', 'BAC', 'BAX', 'BBBY', 'BBT', 'BBY', 'BCR', 'BDX', 'BHI', 'BIIB', 'BK', 'BLL', 'BMY', 'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CAT', 'CB', 'CBG', 'CCI', 'CCL', 'CELG', 'CERN', 'CF', 'CFG', 'CHD', 'CHK', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COL', 'COO', 'COST', 'COTY', 'CPB', 'CRM', 'CSCO', 'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX', 'CXO', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISCA', 'DISCK', 'DLPH', 'DLR', 'DLTR', 'DNB', 'DOV', 'DPS', 'DRI', 'DUK', 'DVA', 'DVN', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'EOG', 'EQIX', 'EQR', 'EQT', 'ES', 'ESS', 'ETFC', 'ETN', 'ETR', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FL', 'FLIR', 'FLR', 'FLS', 'FMC', 'FRT', 'FSLR', 'FTR', 'GD', 'GGP', 'GILD', 'GIS', 'GLW', 'GM', 'GPC', 'GPN', 'GPS', 'GRMN', 'GT', 'GWW', 'HAL', 'HAR', 'HAS', 'HBAN', 'HBI', 'HCA', 'HCN', 'HCP', 'HD', 'HES', 'HIG', 'HOG', 'HOLX', 'HON', 'HP', 'HPE', 'HPQ', 'HRB', 'HRL', 'HRS', 'HSIC', 'HST', 'HSY', 'HUM', 'IBM', 'IDXX', 'IFF', 'ILMN', 'INTC', 'INTU', 'IP', 'IPG', 'IRM', 'ISRG', 'ITW', 'IVZ', 'JBHT', 'JEC', 'JNPR', 'JPM', 'JWN', 'K', 'KEY', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KORS', 'KR', 'KSS', 'KSU', 'LB', 'LEG', 'LEN', 'LH', 'LKQ', 'LLL', 'LLTC', 'LLY', 'LMT', 'LNT', 'LOW', 'LRCX', 'LUK', 'LUV', 'LVLT', 'LYB', 'M', 'MA', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MET', 'MHK', 'MJN', 'MKC', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MON', 'MOS', 'MPC', 'MRK', 'MRO', 'MSFT', 'MTB', 'MTD', 'MU', 'MUR', 'MYL', 'NAVI', 'NBL', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NKE', 'NLSN', 'NOV', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL', 'NWS', 'NWSA', 'O', 'OKE', 'OMC', 'ORLY', 'OXY', 'PAYX', 'PBCT', 'PBI', 'PCAR', 'PCG', 'PCLN', 'PDCO', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKI', 'PM', 'PNC', 'PNR', 'PNW', 'PPG', 'PPL', 'PRU', 'PSX', 'PVH', 'PWR', 'PX', 'PYPL', 'QCOM', 'QRVO', 'R', 'RCL', 'REGN', 'RHI', 'RHT', 'RL', 'ROK', 'ROP', 'ROST', 'RRC', 'RSG', 'SBUX', 'SCG', 'SCHW', 'SE', 'SEE', 'SHW', 'SIG', 'SJM', 'SLG', 'SNA', 'SNI', 'SO', 'SPG', 'SPGI', 'SPLS', 'SRCL', 'SRE', 'STI', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SWN', 'SYF', 'SYK', 'SYMC', 'SYY', 'T', 'TAP', 'TDC', 'TDG', 'TEL', 'TGNA', 'TGT', 'TIF', 'TJX', 'TMK', 'TMO', 'TRIP', 'TRV', 'TSCO', 'TSN', 'TSO', 'TSS', 'TXN', 'TXT', 'UA', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URBN', 'USB', 'UTX', 'V', 'VAR', 'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VZ', 'WAT', 'WDC', 'WEC', 'WFC', 'WFM', 'WHR', 'WLTW', 'WM', 'WMB', 'WMT', 'WRK', 'WU', 'WY', 'WYN', 'WYNN', 'XEC', 'XEL', 'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YHOO', 'YUM', 'ZBH', 'ZION', 'ZTS'], ['2003-06-30', '2004-06-30', '2006-02-28', '2007-02-28', '2012-03-03', '2012-11-30', '2012-12-29', '2012-12-30', '2012-12-31', '2013-01-27', '2013-01-31', '2013-02-01', '2013-02-02', '2013-02-03', '2013-02-28', '2013-03-02', '2013-03-29', '2013-03-30', '2013-03-31', '2013-04-26', '2013-04-27', '2013-04-30', '2013-05-26', '2013-05-31', '2013-06-28', '2013-06-29', '2013-06-30', '2013-07-27', '2013-07-28', '2013-07-31', '2013-08-29', '2013-08-31', '2013-09-01', '2013-09-27', '2013-09-28', '2013-09-29', '2013-09-30', '2013-10-03', '2013-10-27', '2013-10-31', '2013-11-02', '2013-11-29', '2013-11-30', '2013-12-28', '2013-12-29', '2013-12-31', '2014-01-26', '2014-01-31', '2014-02-01', '2014-02-02', '2014-02-28', '2014-03-01', '2014-03-28', '2014-03-29', '2014-03-31', '2014-04-25', '2014-04-26', '2014-04-30', '2014-05-25', '2014-05-31', '2014-06-27', '2014-06-28', '2014-06-29', '2014-06-30', '2014-07-26', '2014-07-31', '2014-08-03', '2014-08-28', '2014-08-30', '2014-08-31', '2014-09-26', '2014-09-27', '2014-09-28', '2014-09-30', '2014-10-03', '2014-10-26', '2014-10-31', '2014-11-01', '2014-11-28', '2014-11-30', '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-31', '2015-01-03', '2015-01-25', '2015-01-30', '2015-01-31', '2015-02-01', '2015-02-02', '2015-02-28', '2015-03-28', '2015-03-31', '2015-04-03', '2015-04-24', '2015-04-25', '2015-04-30', '2015-05-31', '2015-06-27', '2015-06-28', '2015-06-30', '2015-07-03', '2015-07-25', '2015-07-31', '2015-08-02', '2015-08-29', '2015-08-30', '2015-08-31', '2015-09-03', '2015-09-25', '2015-09-26', '2015-09-27', '2015-09-30', '2015-10-02', '2015-10-03', '2015-10-25', '2015-10-31', '2015-11-01', '2015-11-27', '2015-11-30', '2015-12-25', '2015-12-26', '2015-12-27', '2015-12-31', '2016-01-02', '2016-01-03', '2016-01-29', '2016-01-30', '2016-01-31', '2016-02-27', '2016-02-29', '2016-03-31', '2016-04-01', '2016-04-02', '2016-04-29', '2016-04-30', '2016-05-29', '2016-05-31', '2016-06-26', '2016-06-30', '2016-07-01', '2016-07-02', '2016-07-03', '2016-07-30', '2016-07-31', '2016-08-27', '2016-08-28', '2016-08-31', '2016-09-01', '2016-09-24', '2016-09-25', '2016-09-30', '2016-10-01', '2016-10-02', '2016-10-29', '2016-10-30', '2016-10-31', '2016-11-30', '2016-12-02', '2016-12-30', '2016-12-31', '2017-01-01']],

In [95]:
stock=stock.sort_index()
print(stock)

                             Unnamed: 0  Accounts Payable  \
Ticker Symbol Period Ending
AAL           2012-12-31              0      3.068000e+09
              2013-12-31              1      4.975000e+09
              2014-12-31              2      4.668000e+09
              2015-12-31              3      5.102000e+09
AAP           2012-12-29              4      2.409453e+09
              2013-12-28              5      2.609239e+09
              2015-01-03              6      3.616038e+09
              2016-01-02              7      3.757085e+09
AAPL          2013-09-28              8      3.622300e+10
              2014-09-27              9      4.864900e+10
              2015-09-26             10      6.067100e+10
              2016-09-24             11      5.932100e+10
ABBV          2012-12-31             12      5.734000e+09
              2013-12-31             13      6.448000e+09
              2014-12-31             14      6.954000e+09
              2015-12-31             15      8.463000e+09
ABC           2013-09-30             16      1.487064e+10
              2014-09-30             17      1.725016e+10
              2015-09-30             18      2.157823e+10
              2016-09-30             19      2.467016e+10
ABT           2012-12-31             20      1.088900e+10
              2013-12-31             21      5.948000e+09
              2014-12-31             22      5.350000e+09
              2015-12-31             23      5.683000e+09
ADBE          2013-11-29             24      7.292570e+08
              2014-11-28             25      7.761630e+08
              2015-11-27             26      7.793560e+08
              2016-12-02             27      8.660160e+08
ADI           2013-11-02             28      3.230840e+08
              2014-11-01             29      4.306210e+08
...                                 ...               ...
XRAY          2014-12-31           1751      5.408000e+08
              2015-12-31           1752      4.639000e+08
XRX           2012-12-31           1753      2.654000e+09
              2013-12-31           1754      2.360000e+09
              2014-12-31           1755      2.338000e+09
              2015-12-31           1756      2.265000e+09
XYL           2012-12-31           1757      7.750000e+08
              2013-12-31           1758      8.110000e+08
              2014-12-31           1759      8.140000e+08
              2015-12-31           1760      7.450000e+08
YHOO          2012-12-31           1761      9.933060e+08
              2013-12-31           1762      1.045813e+09
              2014-12-31           1763      4.178020e+09
              2015-12-31           1764      1.143349e+09
YUM           2012-12-29           1765      2.269000e+09
              2013-12-28           1766      2.194000e+09
              2014-12-27           1767      2.142000e+09
              2015-12-26           1768      2.165000e+09
ZBH           2012-12-31           1769      2.069000e+08
              2013-12-31           1770      3.675000e+08
              2014-12-31           1771      2.255000e+08
              2015-12-31           1772      4.320000e+08
ZION          2012-12-31           1773      0.000000e+00
              2013-12-31           1774      0.000000e+00
              2014-12-31           1775      0.000000e+00
              2015-12-31           1776      0.000000e+00
ZTS           2013-12-31           1777      1.381000e+09
              2014-12-31           1778      1.071000e+09
              2015-12-31           1779      1.313000e+09
              2016-12-31           1780      1.076000e+09

                             Accounts Receivable  Add'l income/expense items  \
Ticker Symbol Period Ending
AAL           2012-12-31           -2.220000e+08               -1.961000e+09
              2013-12-31           -9.300000e+07               -2.723000e+09
              2014-12-31           -1.600000e+08               -1.500000e+08
              2015-12-31            3.520000e+08               -7.080000e+08
AAP           2012-12-29           -8.948200e+07                6.000000e+05
              2013-12-28           -3.242800e+07                2.698000e+06
              2015-01-03           -4.820900e+07                3.092000e+06
              2016-01-02           -2.147600e+07               -7.484000e+06
AAPL          2013-09-28           -1.949000e+09                1.156000e+09
              2014-09-27           -6.452000e+09                9.800000e+08
              2015-09-26           -3.124000e+09                1.285000e+09
              2016-09-24            1.044000e+09                1.348000e+09
ABBV          2012-12-31            2.230000e+08               -8.000000e+06
              2013-12-31            6.810000e+08               -5.400000e+07
              2014-12-31           -1.720000e+08               -6.510000e+08
              2015-12-31           -1.076000e+09               -2.060000e+08
ABC           2013-09-30           -2.312518e+09               -4.400000e+04
              2014-09-30           -9.382860e+08               -2.859400e+07
              2015-09-30           -1.478793e+09               -4.422000e+07
              2016-09-30           -9.127240e+08                5.048000e+06
ABT           2012-12-31            3.600000e+07               -1.260000e+09
              2013-12-31           -1.130000e+08                5.300000e+07
              2014-12-31           -1.950000e+08                6.900000e+07
              2015-12-31           -1.710000e+08                4.790000e+08
ADBE          2013-11-29            3.364900e+07                9.260000e+05
              2014-11-28            7.928000e+06                8.423000e+06
              2015-11-27           -7.950200e+07                3.487000e+07
              2016-12-02           -1.604160e+08                1.197800e+07
ADI           2013-11-02            1.237700e+07                8.935000e+07
              2014-11-01           -3.646000e+07                1.164500e+07
...                                          ...                         ...
XRAY          2014-12-31            7.200000e+06                5.700000e+06
              2015-12-31           -9.000000e+05                1.040000e+07
XRX           2012-12-31            6.410000e+08                0.000000e+00
              2013-12-31            5.730000e+08                0.000000e+00
              2014-12-31            6.700000e+07                0.000000e+00
              2015-12-31            4.080000e+08                0.000000e+00
XYL           2012-12-31            2.000000e+06                0.000000e+00
              2013-12-31           -4.700000e+07               -1.000000e+07
              2014-12-31           -3.700000e+07                1.200000e+07
              2015-12-31           -2.400000e+07                9.000000e+06
YHOO          2012-12-31            3.475200e+07                4.647839e+09
              2013-12-31            2.619900e+07                1.233070e+08
              2014-12-31            2.927800e+07                1.046733e+10
              2015-12-31           -3.906500e+07               -6.468200e+07
YUM           2012-12-29           -1.800000e+07                0.000000e+00
              2013-12-28           -1.200000e+07                0.000000e+00
              2014-12-27           -2.100000e+07                0.000000e+00
              2015-12-26           -5.400000e+07                0.000000e+00
ZBH           2012-12-31           -4.550000e+07                1.560000e+07
              2013-12-31           -7.430000e+07                9.600000e+06
              2014-12-31           -4.040000e+07               -3.480000e+07
              2015-12-31           -5.610000e+07               -2.750000e+07
ZION          2012-12-31            0.000000e+00                0.000000e+00
              2013-12-31            0.000000e+00               -1.201920e+08
              2014-12-31            0.000000e+00               -4.442200e+07
              2015-12-31            0.000000e+00               -2.530000e+06
ZTS           2013-12-31           -9.900000e+07                9.000000e+06
              2014-12-31            6.900000e+07               -7.000000e+06
              2015-12-31           -5.800000e+07               -8.100000e+07
              2016-12-31            1.500000e+07                2.000000e+06

                             After Tax ROE  Capital Expenditures  \
Ticker Symbol Period Ending
AAL           2012-12-31              23.0         -1.888000e+09
              2013-12-31              67.0         -3.114000e+09
              2014-12-31             143.0         -5.311000e+09
              2015-12-31             135.0         -6.151000e+09
AAP           2012-12-29              32.0         -2.711820e+08
              2013-12-28              26.0         -1.957570e+08
              2015-01-03              25.0         -2.284460e+08
              2016-01-02              19.0         -2.347470e+08
AAPL          2013-09-28              30.0         -8.165000e+09
              2014-09-27              35.0         -9.571000e+09
              2015-09-26              45.0         -1.124700e+10
              2016-09-24              36.0         -1.273400e+10
ABBV          2012-12-31            1507.0         -3.330000e+08
              2013-12-31              92.0         -4.910000e+08
              2014-12-31             102.0         -6.120000e+08
              2015-12-31             130.0         -5.320000e+08
ABC           2013-09-30              19.0         -2.024500e+08
              2014-09-30              14.0         -2.644570e+08
              2015-09-30              22.0         -2.315850e+08
              2016-09-30              67.0         -4.646160e+08
ABT           2012-12-31              22.0         -1.795000e+09
              2013-12-31              10.0         -1.145000e+09
              2014-12-31              11.0         -1.077000e+09
              2015-12-31              21.0         -1.110000e+09
ADBE          2013-11-29               4.0         -1.883580e+08
              2014-11-28               4.0         -1.483320e+08
              2015-11-27               9.0         -1.849360e+08
              2016-12-02              16.0         -2.038050e+08
ADI           2013-11-02              14.0         -1.230740e+08
              2014-11-01              13.0         -1.779130e+08
...                                    ...                   ...
XRAY          2014-12-31              14.0         -9.960000e+07
              2015-12-31              11.0         -7.200000e+07
XRX           2012-12-31              10.0         -3.880000e+08
              2013-12-31               9.0         -3.460000e+08
              2014-12-31               9.0         -3.680000e+08
              2015-12-31               5.0         -2.510000e+08
XYL           2012-12-31              14.0         -1.120000e+08
              2013-12-31              10.0         -1.260000e+08
              2014-12-31              16.0         -1.190000e+08
              2015-12-31              16.0         -1.170000e+08
YHOO          2012-12-31              27.0         -5.055070e+08
              2013-12-31              10.0         -3.429710e+08
              2014-12-31              19.0         -4.130190e+08
              2015-12-31              15.0         -5.541630e+08
YUM           2012-12-29              74.0         -1.099000e+09
              2013-12-28              50.0         -1.049000e+09
              2014-12-27              68.0         -1.033000e+09
              2015-12-26             142.0         -9.730000e+08
ZBH           2012-12-31              13.0         -2.636000e+08
              2013-12-31              12.0         -2.929000e+08
              2014-12-31              11.0         -3.423000e+08
              2015-12-31               1.0         -4.341000e+08
ZION          2012-12-31               6.0         -6.889400e+07
              2013-12-31               4.0         -8.858000e+07
              2014-12-31               5.0         -1.757990e+08
              2015-12-31               4.0         -1.573610e+08
ZTS           2013-12-31              54.0         -1.840000e+08
              2014-12-31              44.0         -1.800000e+08
              2015-12-31              32.0         -2.240000e+08
              2016-12-31              55.0         -2.160000e+08

                             Capital Surplus  Cash Ratio  \
Ticker Symbol Period Ending
AAL           2012-12-31        4.695000e+09        53.0
              2013-12-31        1.059200e+10        75.0
              2014-12-31        1.513500e+10        60.0
              2015-12-31        1.159100e+10        51.0
AAP           2012-12-29        5.202150e+08        23.0
              2013-12-28        5.312930e+08        40.0
              2015-01-03        5.629450e+08         3.0
              2016-01-02        6.033320e+08         2.0
AAPL          2013-09-28        0.000000e+00        93.0
              2014-09-27        0.000000e+00        40.0
              2015-09-26        0.000000e+00        52.0
              2016-09-24        0.000000e+00        85.0
ABBV          2012-12-31        0.000000e+00       118.0
              2013-12-31        3.671000e+09       144.0
              2014-12-31        4.194000e+09        74.0
              2015-12-31        1.308000e+10        77.0
ABC           2013-09-30        2.360992e+09         8.0
              2014-09-30        2.749185e+09        10.0
              2015-09-30        3.736477e+09        10.0
              2016-09-30        4.333001e+09        11.0
ABT           2012-12-31        0.000000e+00       114.0
              2013-12-31        0.000000e+00        85.0
              2014-12-31        0.000000e+00        43.0
              2015-12-31        0.000000e+00        67.0
ADBE          2013-11-29        3.392696e+09       208.0
              2014-11-28        3.778495e+09       150.0
              2015-11-27        4.184883e+09       180.0
              2016-12-02        4.616331e+09       169.0
ADI           2013-11-02        7.118790e+08       821.0
              2014-11-01        6.430580e+08       404.0
...                                      ...         ...
XRAY          2014-12-31        2.217000e+08        23.0
              2015-12-31        2.378000e+08        60.0
XRX           2012-12-31        5.622000e+09        21.0
              2013-12-31        5.282000e+09        31.0
              2014-12-31        4.283000e+09        23.0
              2015-12-31        3.017000e+09        26.0
XYL           2012-12-31        1.706000e+09        65.0
              2013-12-31        1.753000e+09        62.0
              2014-12-31        1.796000e+09        73.0
              2015-12-31        1.834000e+09        83.0
YHOO          2012-12-31        9.563348e+09       324.0
              2013-12-31        8.688304e+09       254.0
              2014-12-31        8.499475e+09       177.0
              2015-12-31        8.807273e+09       459.0
YUM           2012-12-29        0.000000e+00        40.0
              2013-12-28        0.000000e+00        30.0
              2014-12-27        0.000000e+00        28.0
              2015-12-26        0.000000e+00        27.0
ZBH           2012-12-31        3.500600e+09       180.0
              2013-12-31        4.000600e+09       175.0
              2014-12-31        4.330700e+09       166.0
              2015-12-31        8.195300e+09       100.0
ZION          2012-12-31        0.000000e+00         NaN
              2013-12-31        0.000000e+00         NaN
              2014-12-31        0.000000e+00         NaN
              2015-12-31        0.000000e+00         NaN
ZTS           2013-12-31        8.780000e+08        43.0
              2014-12-31        9.580000e+08        81.0
              2015-12-31        1.012000e+09        65.0
              2016-12-31        1.024000e+09        65.0

                             Cash and Cash Equivalents  \
Ticker Symbol Period Ending
AAL           2012-12-31                  1.330000e+09
              2013-12-31                  2.175000e+09
              2014-12-31                  1.768000e+09
              2015-12-31                  1.085000e+09
AAP           2012-12-29                  5.981110e+08
              2013-12-28                  1.112471e+09
              2015-01-03                  1.046710e+08
              2016-01-02                  9.078200e+07
AAPL          2013-09-28                  1.425900e+10
              2014-09-27                  1.384400e+10
              2015-09-26                  2.112000e+10
              2016-09-24                  2.048400e+10
ABBV          2012-12-31                  5.901000e+09
              2013-12-31                  9.595000e+09
              2014-12-31                  8.348000e+09
              2015-12-31                  8.399000e+09
ABC           2013-09-30                  1.231006e+09
              2014-09-30                  1.808513e+09
              2015-09-30                  2.167442e+09
              2016-09-30                  2.741832e+09
ABT           2012-12-31                  1.080200e+10
              2013-12-31                  3.475000e+09
              2014-12-31                  4.063000e+09
              2015-12-31                  5.001000e+09
ADBE          2013-11-29                  8.345560e+08
              2014-11-28                  1.117400e+09
              2015-11-27                  8.765600e+08
              2016-12-02                  1.011315e+09
ADI           2013-11-02                  3.920890e+08
              2014-11-01                  5.692330e+08
...                                                ...
XRAY          2014-12-31                  1.516000e+08
              2015-12-31                  2.846000e+08
XRX           2012-12-31                  1.246000e+09
              2013-12-31                  1.764000e+09
              2014-12-31                  1.411000e+09
              2015-12-31                  1.368000e+09
XYL           2012-12-31                  5.040000e+08
              2013-12-31                  5.330000e+08
              2014-12-31                  6.630000e+08
              2015-12-31                  6.800000e+08
YHOO          2012-12-31                  2.667778e+09
              2013-12-31                  2.077590e+09
              2014-12-31                  2.664098e+09
              2015-12-31                  1.631911e+09
YUM           2012-12-29                  9.120000e+08
              2013-12-28                  6.690000e+08
              2014-12-27                  6.730000e+08
              2015-12-26                  8.400000e+08
ZBH           2012-12-31                  8.843000e+08
              2013-12-31                  1.080600e+09
              2014-12-31                  1.083300e+09
              2015-12-31                  1.459300e+09
ZION          2012-12-31                  1.447275e+10
              2013-12-31                  1.395780e+10
              2014-12-31                  1.396843e+10
              2015-12-31                  1.576313e+10
ZTS           2013-12-31                  6.100000e+08
              2014-12-31                  8.820000e+08
              2015-12-31                  1.154000e+09
              2016-12-31                  7.270000e+08

                             Changes in Inventories  \
Ticker Symbol Period Ending
AAL           2012-12-31               0.000000e+00
              2013-12-31               0.000000e+00
              2014-12-31               0.000000e+00
              2015-12-31               0.000000e+00
AAP           2012-12-29              -2.602980e+08
              2013-12-28              -2.035130e+08
              2015-01-03              -2.276570e+08

In [96]:
#Slicing Index
stock.loc['AAP']

,Unnamed: 0,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
Period Ending,,,,,,,,,,,,,,,,,,,,,
2012-12-29,4,2.409453e+09,-89482000.0,600000.0,32.0,-271182000.0,520215000.0,23.0,5.981110e+08,-260298000.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
2013-12-28,5,2.609239e+09,-32428000.0,2698000.0,26.0,-195757000.0,531293000.0,40.0,1.112471e+09,-203513000.0,...,3.989384e+09,2.764785e+09,1.516205e+09,4.048569e+09,5.564774e+09,6.493814e+09,-107890000.0,2013.0,5.36,7.308918e+07
2015-01-03,6,3.616038e+09,-48209000.0,3092000.0,25.0,-228446000.0,562945000.0,3.0,1.046710e+08,-227657000.0,...,4.741040e+09,3.654416e+09,2.002912e+09,5.959446e+09,7.962358e+09,9.843861e+09,-113044000.0,2014.0,6.75,7.315926e+07
2016-01-02,7,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,603332000.0,2.0,9.078200e+07,-244096000.0,...,4.940746e+09,3.797477e+09,2.460648e+09,5.673917e+09,8.134565e+09,9.737018e+09,-119709000.0,2015.0,6.45,7.339504e+07

In [98]:
#Fancy Indexing
stock.loc[(['AAP','ABC'],'2015-09-30'),:]

,,Unnamed: 0,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,Changes in Inventories,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
Ticker Symbol,Period Ending,,,,,,,,,,,,,,,,,,,,,
ABC,2015-09-30,18,2.157823e+10,-1.478793e+09,-44220000.0,22.0,-231585000.0,3.736477e+09,10.0,2.167442e+09,-1.379189e+09,...,2.033449e+10,2.157823e+10,616386000.0,2.734660e+10,2.796298e+10,1.359618e+11,-4.150997e+09,2015.0,-0.62,2.228468e+08

In [99]:
stock.loc[(['AAP','ABC'],'2015-09-30'),'Accounts Receivable']

Ticker Symbol  Period Ending
ABC            2015-09-30      -1.478793e+09
Name: Accounts Receivable, dtype: float64

In [100]:
#Slicing (Both Indexes)
stock.loc[(slice(None),slice('2012-12-31','2014-11-01')),:]

                             Unnamed: 0  Accounts Payable  \
Ticker Symbol Period Ending
AAL           2012-12-31              0      3.068000e+09
              2013-12-31              1      4.975000e+09
AAP           2013-12-28              5      2.609239e+09
AAPL          2013-09-28              8      3.622300e+10
              2014-09-27              9      4.864900e+10
ABBV          2012-12-31             12      5.734000e+09
              2013-12-31             13      6.448000e+09
ABC           2013-09-30             16      1.487064e+10
              2014-09-30             17      1.725016e+10
ABT           2012-12-31             20      1.088900e+10
              2013-12-31             21      5.948000e+09
ADBE          2013-11-29             24      7.292570e+08
ADI           2013-11-02             28      3.230840e+08
              2014-11-01             29      4.306210e+08
ADM           2012-12-31             32      9.308000e+09
              2013-12-31             33      1.413500e+10
ADS           2012-12-31             36      4.900950e+08
              2013-12-31             37      4.723260e+08
ADSK          2013-01-31             40      3.967000e+08
              2014-01-31             41      3.753000e+08
AEE           2012-12-31             44      6.710000e+08
              2013-12-31             45      9.470000e+08
AEP           2012-12-31             48      2.185000e+09
              2013-12-31             49      2.333000e+09
AFL           2012-12-31             52      3.858000e+09
              2013-12-31             53      3.718000e+09
AIG           2012-12-31             56      0.000000e+00
              2013-12-31             57      0.000000e+00
AIV           2012-12-31             60      3.443580e+08
              2013-12-31             61      3.307560e+08
...                                 ...               ...
WY            2012-12-31           1717      1.035000e+09
              2013-12-31           1718      9.720000e+08
WYN           2012-12-31           1721      1.004000e+09
              2013-12-31           1722      1.106000e+09
WYNN          2012-12-31           1725      5.539150e+08
              2013-12-31           1726      7.207420e+08
XEC           2012-12-31           1729      6.303770e+08
              2013-12-31           1730      6.475860e+08
XEL           2012-12-31           1733      1.587776e+09
              2013-12-31           1734      1.938808e+09
XL            2012-12-31           1737      1.431120e+08
              2013-12-31           1738      3.023990e+08
XLNX          2013-03-30           1741      3.334300e+08
              2014-03-29           1742      3.692600e+08
XOM           2012-12-31           1745      6.048600e+10
              2013-12-31           1746      5.591600e+10
XRAY          2012-12-31           1749      6.288170e+08
              2013-12-31           1750      4.865430e+08
XRX           2012-12-31           1753      2.654000e+09
              2013-12-31           1754      2.360000e+09
XYL           2012-12-31           1757      7.750000e+08
              2013-12-31           1758      8.110000e+08
YHOO          2012-12-31           1761      9.933060e+08
              2013-12-31           1762      1.045813e+09
YUM           2013-12-28           1766      2.194000e+09
ZBH           2012-12-31           1769      2.069000e+08
              2013-12-31           1770      3.675000e+08
ZION          2012-12-31           1773      0.000000e+00
              2013-12-31           1774      0.000000e+00
ZTS           2013-12-31           1777      1.381000e+09

                             Accounts Receivable  Add'l income/expense items  \
Ticker Symbol Period Ending
AAL           2012-12-31           -2.220000e+08               -1.961000e+09
              2013-12-31           -9.300000e+07               -2.723000e+09
AAP           2013-12-28           -3.242800e+07                2.698000e+06
AAPL          2013-09-28           -1.949000e+09                1.156000e+09
              2014-09-27           -6.452000e+09                9.800000e+08
ABBV          2012-12-31            2.230000e+08               -8.000000e+06
              2013-12-31            6.810000e+08               -5.400000e+07
ABC           2013-09-30           -2.312518e+09               -4.400000e+04
              2014-09-30           -9.382860e+08               -2.859400e+07
ABT           2012-12-31            3.600000e+07               -1.260000e+09
              2013-12-31           -1.130000e+08                5.300000e+07
ADBE          2013-11-29            3.364900e+07                9.260000e+05
ADI           2013-11-02            1.237700e+07                8.935000e+07
              2014-11-01           -3.646000e+07                1.164500e+07
ADM           2012-12-31            1.753000e+09                2.350000e+08
              2013-12-31            2.960000e+08                1.550000e+08
ADS           2012-12-31           -4.921900e+07                0.000000e+00
              2013-12-31           -3.341400e+07                0.000000e+00
ADSK          2013-01-31           -9.810000e+07                0.000000e+00
              2014-01-31            7.230000e+07                0.000000e+00
AEE           2012-12-31            3.000000e+07                3.300000e+07
              2013-12-31           -6.000000e+07                4.300000e+07
AEP           2012-12-31           -1.600000e+07                1.540000e+08
              2013-12-31            2.290000e+07                1.608000e+08
AFL           2012-12-31           -1.990000e+08                0.000000e+00
              2013-12-31           -8.000000e+06                0.000000e+00
AIG           2012-12-31            3.085000e+09               -6.768000e+09
              2013-12-31            2.174000e+09               -6.990000e+08
AIV           2012-12-31            3.071600e+07                3.074300e+07
              2013-12-31            4.592000e+06                2.066600e+07
...                                          ...                         ...
WY            2012-12-31           -3.300000e+07                4.800000e+07
              2013-12-31           -2.700000e+07                5.400000e+07
WYN           2012-12-31           -3.220000e+08               -1.000000e+08
              2013-12-31           -3.180000e+08               -1.040000e+08
WYNN          2012-12-31           -2.101900e+07               -8.605000e+06
              2013-12-31           -1.487500e+07               -5.631000e+06
XEC           2012-12-31            5.643500e+07                3.895000e+06
              2013-12-31           -6.478000e+07                2.130900e+07
XEL           2012-12-31           -1.718590e+08                1.043300e+08
              2013-12-31           -1.327780e+08                1.298340e+08
XL            2012-12-31            3.464700e+07               -1.054500e+07
              2013-12-31           -8.765100e+07                2.824300e+07
XLNX          2013-03-30           -1.421000e+07                0.000000e+00
              2014-03-29           -3.865800e+07               -9.848000e+06
XOM           2012-12-31           -1.082000e+09                1.416200e+10
              2013-12-31           -3.050000e+08                3.492000e+09
XRAY          2012-12-31           -1.259100e+07                5.591000e+06
              2013-12-31           -3.250000e+07               -3.000000e+05
XRX           2012-12-31            6.410000e+08                0.000000e+00
              2013-12-31            5.730000e+08                0.000000e+00
XYL           2012-12-31            2.000000e+06                0.000000e+00
              2013-12-31           -4.700000e+07               -1.000000e+07
YHOO          2012-12-31            3.475200e+07                4.647839e+09
              2013-12-31            2.619900e+07                1.233070e+08
YUM           2013-12-28           -1.200000e+07                0.000000e+00
ZBH           2012-12-31           -4.550000e+07                1.560000e+07
              2013-12-31           -7.430000e+07                9.600000e+06
ZION          2012-12-31            0.000000e+00                0.000000e+00
              2013-12-31            0.000000e+00               -1.201920e+08
ZTS           2013-12-31           -9.900000e+07                9.000000e+06

                             After Tax ROE  Capital Expenditures  \
Ticker Symbol Period Ending
AAL           2012-12-31              23.0         -1.888000e+09
              2013-12-31              67.0         -3.114000e+09
AAP           2013-12-28              26.0         -1.957570e+08
AAPL          2013-09-28              30.0         -8.165000e+09
              2014-09-27              35.0         -9.571000e+09
ABBV          2012-12-31            1507.0         -3.330000e+08
              2013-12-31              92.0         -4.910000e+08
ABC           2013-09-30              19.0         -2.024500e+08
              2014-09-30              14.0         -2.644570e+08
ABT           2012-12-31              22.0         -1.795000e+09
              2013-12-31              10.0         -1.145000e+09
ADBE          2013-11-29               4.0         -1.883580e+08
ADI           2013-11-02              14.0         -1.230740e+08
              2014-11-01              13.0         -1.779130e+08
ADM           2012-12-31               7.0         -1.240000e+09
              2013-12-31               7.0         -9.130000e+08
ADS           2012-12-31              80.0         -1.164550e+08
              2013-12-31              58.0         -1.353760e+08
ADSK          2013-01-31              12.0         -5.640000e+07
              2014-01-31              10.0         -6.420000e+07
AEE           2012-12-31              15.0         -1.063000e+09
              2013-12-31               5.0         -1.379000e+09
AEP           2012-12-31               8.0         -3.025000e+09
              2013-12-31               9.0         -3.616400e+09
AFL           2012-12-31              18.0          0.000000e+00
              2013-12-31              22.0          0.000000e+00
AIG           2012-12-31               4.0          0.000000e+00
              2013-12-31               9.0          0.000000e+00
AIV           2012-12-31              14.0         -3.599260e+08
              2013-12-31              21.0         -4.016290e+08
...                                    ...                   ...
WY            2012-12-31               9.0         -2.560000e+08
              2013-12-31               8.0         -2.610000e+08
WYN           2012-12-31              21.0         -2.080000e+08
              2013-12-31              27.0         -2.380000e+08
WYNN          2012-12-31             194.0         -2.409850e+08
              2013-12-31             395.0         -5.148020e+08
XEC           2012-12-31              10.0         -1.727694e+09
              2013-12-31              14.0         -1.624201e+09
XEL           2012-12-31              10.0         -2.570209e+09
              2013-12-31              10.0         -3.395325e+09
XL            2012-12-31               6.0          0.000000e+00
              2013-12-31              11.0          0.000000e+00
XLNX          2013-03-30              16.0         -3.026500e+07
              2014-03-29              23.0         -4.486500e+07
XOM           2012-12-31              27.0         -3.427100e+10
              2013-12-31              19.0         -3.366900e+10
XRAY          2012-12-31              14.0         -9.207200e+07
              2013-12-31              12.0         -1.003000e+08
XRX           2012-12-31              10.0         -3.880000e+08
              2013-12-31               9.0         -3.460000e+08
XYL           2012-12-31              14.0         -1.120000e+08
              2013-12-31              10.0         -1.260000e+08
YHOO          2012-12-31              27.0         -5.055070e+08
              2013-12-31              10.0         -3.429710e+08
YUM           2013-12-28              50.0         -1.049000e+09
ZBH           2012-12-31              13.0         -2.636000e+08
              2013-12-31              12.0         -2.929000e+08
ZION          2012-12-31               6.0         -6.889400e+07
              2013-12-31               4.0         -8.858000e+07
ZTS           2013-12-31              54.0         -1.840000e+08

                             Capital Surplus  Cash Ratio  \
Ticker Symbol Period Ending
AAL           2012-12-31        4.695000e+09        53.0
              2013-12-31        1.059200e+10        75.0
AAP           2013-12-28        5.312930e+08        40.0
AAPL          2013-09-28        0.000000e+00        93.0
              2014-09-27        0.000000e+00        40.0
ABBV          2012-12-31        0.000000e+00       118.0
              2013-12-31        3.671000e+09       144.0
ABC           2013-09-30        2.360992e+09         8.0
              2014-09-30        2.749185e+09        10.0
ABT           2012-12-31        0.000000e+00       114.0
              2013-12-31        0.000000e+00        85.0
ADBE          2013-11-29        3.392696e+09       208.0
ADI           2013-11-02        7.118790e+08       821.0
              2014-11-01        6.430580e+08       404.0
ADM           2012-12-31        0.000000e+00        35.0
              2013-12-31        0.000000e+00        48.0
ADS           2012-12-31        1.454230e+09        28.0
              2013-12-31        1.512752e+09        33.0
ADSK          2013-01-31        0.000000e+00       187.0
              2014-01-31        0.000000e+00       212.0
AEE           2012-12-31        5.616000e+09         7.0
              2013-12-31        5.632000e+09         1.0
AEP           2012-12-31        6.049000e+09        10.0
              2013-12-31        6.131000e+09         9.0
AFL           2012-12-31        1.505000e+09         NaN
              2013-12-31        1.644000e+09         NaN
AIG           2012-12-31        8.041000e+10         NaN
              2013-12-31        8.089900e+10         NaN
AIV           2012-12-31        3.712684e+09         NaN
              2013-12-31        3.701339e+09         NaN
...                                      ...         ...
WY            2012-12-31        0.000000e+00        56.0
              2013-12-31        0.000000e+00        74.0
WYN           2012-12-31        3.820000e+09        10.0
              2013-12-31        3.858000e+09        11.0
WYNN          2012-12-31        8.188210e+08       165.0
              2013-12-31        8.887270e+08       179.0
XEC           2012-12-31        1.939628e+09        11.0
              2013-12-31        1.970113e+09         1.0
XEL           2012-12-31        5.353015e+09         3.0
              2013-12-31        5.619313e+09         3.0
XL            2012-12-31        8.584752e+09         NaN
              2013-12-31        7.994100e+09         NaN
XLNX          2013-03-30        1.276278e+09       443.0
              2014-03-29        8.050730e+08       248.0
XOM           2012-12-31        0.000000e+00        15.0
              2013-12-31        0.000000e+00         7.0
XRAY          2012-12-31        2.465480e+08         9.0
              2013-12-31        2.552720e+08         9.0
XRX           2012-12-31        5.622000e+09        21.0
              2013-12-31        5.282000e+09        31.0
XYL           2012-12-31        1.706000e+09        65.0
              2013-12-31        1.753000e+09        62.0
YHOO          2012-12-31        9.563348e+09       324.0
              2013-12-31        8.688304e+09       254.0
YUM           2013-12-28        0.000000e+00        30.0
ZBH           2012-12-31        3.500600e+09       180.0
              2013-12-31        4.000600e+09       175.0
ZION          2012-12-31        0.000000e+00         NaN
              2013-12-31        0.000000e+00         NaN
ZTS           2013-12-31        8.780000e+08        43.0

                             Cash and Cash Equivalents  \
Ticker Symbol Period Ending
AAL           2012-12-31                  1.330000e+09
              2013-12-31                  2.175000e+09
AAP           2013-12-28                  1.112471e+09
AAPL          2013-09-28                  1.425900e+10
              2014-09-27                  1.384400e+10
ABBV          2012-12-31                  5.901000e+09
              2013-12-31                  9.595000e+09
ABC           2013-09-30                  1.231006e+09
              2014-09-30                  1.808513e+09
ABT           2012-12-31                  1.080200e+10
              2013-12-31                  3.475000e+09
ADBE          2013-11-29                  8.345560e+08
ADI           2013-11-02                  3.920890e+08
              2014-11-01                  5.692330e+08
ADM           2012-12-31                  5.352000e+09
              2013-12-31                  7.082000e+09
ADS           2012-12-31                  1.386042e+09
              2013-12-31                  1.480171e+09
ADSK          2013-01-31                  1.612200e+09
              2014-01-31                  1.853000e+09
AEE           2012-12-31                  1.840000e+08
              2013-12-31                  3.000000e+07
AEP           2012-12-31                  3.550000e+08
              2013-12-31                  1.880000e+08
AFL           2012-12-31                  2.041000e+09
              2013-12-31                  2.543000e+09
AIG           2012-12-31                  1.151000e+09
              2013-12-31                  2.241000e+09
AIV           2012-12-31                  2.299980e+08
              2013-12-31                  1.827880e+08
...                                                ...
WY            2012-12-31                  8.980000e+08
              2013-12-31                  8.300000e+08
WYN           2012-12-31                  1.950000e+08
              2013-12-31                  1.940000e+08
WYNN          2012-12-31                  1.725219e+09
              2013-12-31                  2.435041e+09
XEC           2012-12-31                  6.953800e+07
              2013-12-31                  4.531000e+06
XEL           2012-12-31                  8.232300e+07
              2013-12-31                  1.071440e+08
XL            2012-12-31                  2.618378e+09
              2013-12-31                  1.800832e+09
XLNX          2013-03-30                  6.235580e+08
              2014-03-29                  9.736770e+08
XOM           2012-12-31                  9.923000e+09
              2013-12-31                  4.913000e+09
XRAY          2012-12-31                  8.013200e+07
              2013-12-31                  7.495400e+07
XRX           2012-12-31                  1.246000e+09
              2013-12-31                  1.764000e+09
XYL           2012-12-31                  5.040000e+08
              2013-12-31                  5.330000e+08
YHOO          2012-12-31                  2.667778e+09
              2013-12-31                  2.077590e+09
YUM           2013-12-28                  6.690000e+08
ZBH           2012-12-31                  8.843000e+08
              2013-12-31                  1.080600e+09
ZION          2012-12-31                  1.447275e+10
              2013-12-31                  1.395780e+10
ZTS           2013-12-31                  6.100000e+08

                             Changes in Inventories  \
Ticker Symbol Period Ending
AAL           2012-12-31               0.000000e+00
              2013-12-31               0.000000e+00
AAP           2013-12-28              -2.035130e+08
AAPL          2013-09-28              -9.730000e+08
              2014-09-27              -7.600000e+07
ABBV          2012-12-31              -2.030000e+08
              2013-12-31              -5.600000e+07

## Pivot tables

In [5]:
#Import Data
trials=pd.read_csv('Trials.csv')
trials.head()

  treatment gender  id  rating
0         A      M   1       5
1         B      M   2       3
2         A      F   3       7
3         B      F   4       8

In [6]:
trials=trials.set_index(['treatment','gender'])

In [7]:
print(trials)

                  id  rating
treatment gender
A         M        1       5
B         M        2       3
A         F        3       7
B         F        4       8

In [8]:
print(trials.index.names)

['treatment', 'gender']

In [9]:
Unstack Multi Index Data
trials.unstack(level='gender')

          id    rating
gender     F  M      F  M
treatment
A          3  1      7  5
B          4  2      8  3

In [11]:
#Unstack using Index
trials.unstack(level=1)

          id    rating
gender     F  M      F  M
treatment
A          3  1      7  5
B          4  2      8  3

In [12]:
trials_by_gender=trials.unstack(level='gender')

In [15]:
trials_by_gender=trials_by_gender.stack(level='gender')

In [16]:
trials_by_gender=trials_by_gender.swaplevel(0,1)

In [17]:
#Print Swapped DataFrame
print(trials_by_gender)

                  id  rating
gender treatment
F      A           3       7
M      A           1       5
F      B           4       8
M      B           2       3

In [18]:
#Sort Index
trials_by_gender=trials_by_gender.sort_index()
print(trials_by_gender)

                  id  rating
gender treatment
F      A           3       7
       B           4       8
M      A           1       5
       B           2       3

## Advanced Indexing Melting DataFrames

In [23]:
trials=pd.read_csv('Trials.csv')

In [24]:
trials.pivot(index='treatment',
            columns='gender',
            values='rating')

gender     F  M
treatment
A          7  5
B          8  3

In [25]:
#Import New DataFrame with slightly different values
new_trials=pd.read_csv('Trials02.csv')

In [26]:
print(new_trials)

  treatment  F  M
0         A  5  7
1         B  3  8

In [27]:
#Restore the Data Frame to its original Form using Melt Function
pd.melt(new_trials)

    variable value
0  treatment     A
1  treatment     B
2          F     5
3          F     3
4          M     7
5          M     8

In [28]:
#Specifying Vars
pd.melt(new_trials,id_vars=['treatment'])

  treatment variable  value
0         A        F      5
1         B        F      3
2         A        M      7
3         B        M      8

In [29]:
#Specifying Value name
pd.melt(new_trials,id_vars=['treatment'],
       var_name='gender',
       value_name='response')

  treatment gender  response
0         A      F         5
1         B      F         3
2         A      M         7
3         B      M         8

## Pivot tables

In [31]:
#Import New DataFrame with slightly different values
more_trials=pd.read_csv('Trials03.csv')
print(more_trials)

  treatment gender  id  rating
0         A      M   1       5
1         B      M   2       3
2         A      F   3       7
3         B      F   4       8
4         A      M   5       6
5         B      M   6       3
6         B      F   7       2
7         A      F   8       5

In [32]:
#Use Pivot Now
more_trials.pivot(index='treatment',
                 columns='gender',
                 values='rating')

ValueError: Index contains duplicate entries, cannot reshape

In [33]:
#Use Pivot Table Now!
more_trials.pivot_table(index='treatment',
                 columns='gender',
                 values='rating')

gender       F    M
treatment
A          6.0  5.5
B          5.0  3.0

In [35]:
#Use Aggfunct
more_trials.pivot_table(index='treatment',
                 columns='gender',
                 values='rating',
                aggfunc='count')

gender     F  M
treatment
A          2  2
B          2  2

## Grouping by Multiple Columns

In [4]:
sales = pd.DataFrame(
      {
      'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
       'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
       'bread': [139, 237, 326, 456],
       'butter': [20, 45, 70, 98]
      }
      )
print(sales)

   bread  butter    city weekday
0    139      20  Austin     Sun
1    237      45  Dallas     Sun
2    326      70  Austin     Mon
3    456      98  Dallas     Mon

In [5]:
#groupby
sales.groupby('weekday').sum()

         bread  butter
weekday
Mon        782     168
Sun        376      65

Some reducing functions 
- count()
- mean()
- std()
- sum() 
- first(), last() 
- min(), max()

In [6]:
# CalcuLATE MEAN VALUE of butter sold in City wise
sales.groupby('city')['butter'].mean()

city
Austin    45.0
Dallas    71.5
Name: butter, dtype: float64

In [7]:
customers = pd.Series(['Dave','Alice','Bob','Alice'])
sales.groupby(customers)['bread'].sum()

Alice    693
Bob      326
Dave     139
Name: bread, dtype: int64

In [8]:
#Categorical Data
sales['weekday'].unique()

array(['Sun', 'Mon'], dtype=object)

In [9]:
sales.groupby('city')[['bread','butter']].max()

        bread  butter
city
Austin    326      70
Dallas    456      98

## Multiple Aggregations

In [9]:
sales.groupby('city')[['bread','butter']].agg(['sum','max'])

       bread      butter
         sum  max    sum max
city
Austin   465  326     90  70
Dallas   693  456    143  98

## Aggregation Supports the following parameters

    1. Sum
    2. Mean
    3. Count
    4. Custom Functions

In [10]:
def data_range(Series):
    return Series.max()-Series.min()
sales.groupby('city')[['bread','butter']].agg(data_range)

        bread  butter
city
Austin    187      50
Dallas    219      53

In [19]:
sales.groupby(customers).agg({'bread':'sum','butter':data_range})

       bread  butter
Alice    693      53
Bob      326       0
Dave     139       0

In [ ]:
#